<robot name="VISPA">

  <link name="link00">
    <visual>
      <geometry>
        <mesh filename="package://vispa/meshes/Link0-DHReference-PublicRelease.stl"/>
      </geometry>
      <dsfe_material rgba="0.76 0.63 0.28 1.0" metallic="0.95" roughness="0.3"/>
    </visual>
    <collision>
      <dsfe_capsule a="0 0 0" b="0 0 0.18" radius="0.08"/>
    </collision>
    <inertial>
      <mass value="0.627"/>
      <inertia ixx="0.00281845585208" ixy="0" ixz="0" iyy="0.00281883333333" iyz="0" izz="0.00379978918542"/>
      <origin xyz="0 0 0.0"/>
    </inertial>
  </link>

  <link name="link01">
    <visual>
      <geometry>
        <mesh filename="package://vispa/meshes/Link1-DHReference-PublicRelease.stl"/>
      </geometry>
      <dsfe_material rgba="0.93 0.94 0.95 1.0" metallic="0.1" roughness="0.65"/>
    </visual>
    <collision>
      <dsfe_capsule a="0 0 0" b="0 -0.05 -0.05" radius="0.07"/>
    </collision>
    <inertial>
      <mass value="2.328"/>
      <inertia ixx="0.012" ixy="0" ixz="0" iyy="0.007" iyz="0.003" izz="0.008"/>
      <origin xyz="0 -0.029 -0.043"/>
    </inertial>
  </link>

  <link name="link02">
    <visual>
      <geometry>
        <mesh filename="package://vispa/meshes/Link2-DHReference-PublicRelease.stl"/>
      </geometry>
      <dsfe_material rgba="0.93 0.94 0.95 1.0" metallic="0.1" roughness="0.65"/>
    </visual>
    <collision>
      <dsfe_capsule a="0 0 0" b="0.8 0 0" radius="0.06"/>
    </collision>
    <inertial>
      <mass value="3.995"/>
      <inertia ixx="0.010 " ixy="0" ixz="0" iyy="0.578" iyz="0" izz="0.574"/>
      <origin xyz="0.4 0 0.142"/>
    </inertial>
  </link>

  <link name="link03">
    <visual>
      <geometry>
        <mesh filename="package://vispa/meshes/Link3-DHReference-PublicRelease.stl"/>
      </geometry>
      <dsfe_material rgba="0.93 0.94 0.95 1.0" metallic="0.1" roughness="0.65"/>
    </visual>
    <collision>
      <dsfe_capsule a="0 0 0" b="0 0.07 0.05" radius="0.06"/>
    </collision>
    <inertial>
      <mass value="2.328"/>
      <inertia ixx="0.012" ixy="0" ixz="0" iyy="0.008" iyz="0.003" izz="0.007"/>
      <origin xyz="0 0.043 0.029"/>
    </inertial>
  </link>

  <link name="link04">
    <visual>
      <geometry>
        <mesh filename="package://vispa/meshes/Link4-DHReference-PublicRelease.stl"/>
      </geometry>
      <dsfe_material rgba="0.93 0.94 0.95 1.0" metallic="0.1" roughness="0.65"/>
    </visual>
    <collision>
      <dsfe_capsule a="0 0 0" b="0 -0.65 0" radius="0.055"/>
    </collision>
    <inertial>
      <mass value="3.157"/>
      <inertia ixx="0.199" ixy="0" ixz="0" iyy="0.193" iyz="0.01" izz="0.01"/>
      <origin xyz="0 -0.043 -0.210"/>
    </inertial>
  </link>

  <link name="link05">
    <visual>
      <geometry>
        <mesh filename="package://vispa/meshes/Link5-DHReference-PublicRelease.stl"/>
      </geometry>
      <dsfe_material rgba="0.93 0.94 0.95 1.0" metallic="0.1" roughness="0.65"/>
    </visual>
    <collision>
      <dsfe_capsule a="0 0 0" b="0 0.325 0" radius="0.05"/>
    </collision>
    <inertial>
      <mass value="2.695"/>
      <inertia ixx="0.029" ixy="0" ixz="0" iyy="0.006" iyz="-0.001" izz="0.027"/>
      <origin xyz="0 0.125 -0.007"/>
    </inertial>
  </link>

  <link name="link06">
    <visual>
      <geometry>
        <mesh filename="package://vispa/meshes/Link6-DHReference-PublicRelease.stl"/>
      </geometry>
      <dsfe_material rgba="0.90 0.91 0.92 1.0" metallic="0.1" roughness="0.65"/>
    </visual>
    <collision>
      <dsfe_capsule a="0 0 0" b="0 0 0.08" radius="0.05"/>
    </collision>
    <inertial>
      <mass value="0.924"/>
      <inertia ixx="0.002" ixy="0" ixz="0" iyy="0.002" iyz="0" izz="0.001"/>
      <origin xyz="0 0 0.0"/>
    </inertial>
  </link>

  <joint name="joint01" type="revolute">
    <parent link="link00"/>
    <child link="link01"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-3.14149265359" upper="3.14149265359" velocity="0.09395689"/>
    <origin xyz="0 0 0.18" rpy="0 0 0"/> 
  </joint>

  <joint name="joint02" type="revolute">
    <parent link="link01"/>
    <child link="link02"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-3.14149265359" upper="3.14149265359" velocity="0.09395689"/>
    <origin xyz="0 0 0" rpy="1.57079632679 -1.57079632679 0"/> 
  </joint>

  <joint name="joint03" type="revolute">
    <parent link="link02"/>
    <child link="link03"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-3.14149265359" upper="3.14149265359" velocity="0.09395689"/>
    <origin xyz="0.8 0 0" rpy="0 0 -1.57079632679"/> 
  </joint>

  <joint name="joint04" type="revolute">
    <parent link="link03"/>
    <child link="link04"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-3.14149265359" upper="3.14149265359" velocity="0.09395689"/>
    <origin xyz="0 0.65 0" rpy="-1.57079632679 0 0"/> 
  </joint>

  <joint name="joint05" type="revolute">
    <parent link="link04"/>
    <child link="link05"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-3.14149265359" upper="3.14149265359" velocity="0.09395689"/>
    <origin xyz="0 0 0" rpy="1.57079632679 0 0"/> 
  </joint>

  <joint name="joint06" type="revolute">
    <parent link="link05"/>
    <child link="link06"/>
    <axis xyz="0 0 1"/>
    <limit effort="50" lower="-3.14149265359" upper="3.14149265359" velocity="0.09395689"/>
    <origin xyz="0 0.325 0" rpy="-1.57079632679 0 0"/> 
  </joint>

</robot>
